<form action="" method="post" id="idFrmEditKeluarga">
    <table class="table">
        <tr>
            <td colspan="2">
                <input type="hidden" name="id" id="idget" />
                <label>Jenis Susunan Keluarga *</label>
                <select class="form-control" name="family_tree_type_id" style="border:2px solid blue;" id="idFamilyTreeType">
                    @*<option value="">-Pilih-</option>
                    <option value="1">Parents</option>
                    <option value="2">Children</option>*@
                </select>
            </td>
            <td colspan="2">
                <label>Hubungan Keluarga *</label>
                <select class="form-control" name="family_relation_id" style="border:2px solid blue;" id="idFamilyRelation">
                    @*<option value="">-Pilih-</option>
                    <option value="1">Father</option>
                    <option value="2">Mother</option>
                    <option value="3">Brother/Sister</option>*@
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label>Nama *</label>
                <input type="text" name="name" class="form-control" style="border:2px solid blue;" id="idName">
            </td>
            <td colspan="1">
                <label>Jenis Kelamin</label>
                <select class="form-control" name="gender" style="border:2px solid blue;" id="idGender">
                    <option value="">-Pilih-</option>
                    <option value="0">Perempuan</option>
                    <option value="1">Laki-laki</option>
                </select>
            </td>
            <td colspan="1">
                <label>Tgl. Lahir</label>
                <input type="text" name="dob" class="form-control" style="border:2px solid blue;" id="idDob">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label colspan="2">Pendidikan</label>
                <select class="form-control" name="education_level_id" style="border:2px solid blue;" id="idEducationLevel">
                    <option value="">-Pilih-</option>
                    <option value="1">SD</option>
                    <option value="2">SLTP</option>
                    <option value="3">SLTA</option>
                    <option value="4">Sarjana</option>
                </select>
            </td>
            <td colspan="2">
                <label colspan="2">Pekerjaan</label>
                <input type="text" name="job" class="form-control" style="border:2px solid blue;" id="idJob">
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <label>Catatan</label>
                <textarea class="form-control" id="idNotes" style="border:2px solid blue;" name="notes" rows="3"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="4" align="right">
                <button type="button" class="btn orenwoy" id="idBtnCancelKeluarga">Cancel</button>
                <button type="button" class="btn biruwoy" id="idBtnEditKeluarga">Submit</button>
            </td>
        </tr>
    </table>
</form>

<script>
    $(document).ready(function () {
        var vSelectFamilyTreeType = '';
        var vSelectFamilyRelation="";

        $.ajax({
            url: '/Keluarga/SelectFamilyTreeType',
            method: 'Get',
            success: function (mdl) {
                debugger;
                $.each(mdl, function (i, d) { //menjahit data ke dalam tabel
                    vSelectFamilyTreeType = vSelectFamilyTreeType +
                        '<option value="' + d.family_tree_type_id + '">' +
                            d.name +
                            '</option>';
                });
                $('#idFamilyTreeType').append(vSelectFamilyTreeType); //memasukan data yg sudah di jahit ke dalam body
            }
        });

        $.ajax({
            url: '/Keluarga/SelectFamilyRelation',
            method: 'Get',
            success: function (mdl) {
                debugger;
                $.each(mdl, function (i, d) { //menjahit data ke dalam tabel
                    vSelectFamilyRelation = vSelectFamilyRelation +
                        '<option value="' + d.family_relation_id + '">' +
                            d.name +
                            '</option>';
                });
                $('#idFamilyRelation').append(vSelectFamilyRelation); //memasukan data yg sudah di jahit ke dalam body
            }
        });

        $.ajax({
            url: '/Keluarga/AmbilData',
            data: { ID: $('#idget').val() },
            method: 'Get',
            success: function (mdl) {
                debugger;
                $('#idFamilyTreeType').val(mdl.family_tree_type_id).selected;
                $('#idFamilyRelation').val(mdl.family_relation_id).selected;
                $('#idName').val(mdl.name);
                $('#idGender').val(mdl.gender).selected;
                $('#idDob').val(mdl.dob);
                $('#idEducationLevel').val(mdl.education_level_id);
                $('#idJob').val(mdl.job);
                $('#idNotes').val(mdl.notes);
            }
        });

        $('.ClBtnCloseKeluarga').click(function () {
            debugger;
            $('#idMdlEditKeluarga').close;
            location.reload();
        });

        $('#idBtnCancelKeluarga').click(function () {
            $('#idMdlCreateKeluarga').close;
            location.reload();
        });

        $('#idBtnEditKeluarga').click(function () {
            debugger;
            var skill = $('#idJenisSusunanKeluarga').val();

            if (skill == "") {
                alert('Level Keahlian Tidak Boleh Kosong');
                $('#idSkillLevel').focus();
            }
            else {
                var vDatakeahlian = $('#idFrmEditKeahlian').serialize();
                $.ajax({
                    url: '/Keahlian/EditSimpan',
                    data: vDatakeahlian,
                    method: 'Post',
                    success: function (mdl) {
                        if (mdl.EditSimpan == "Berhasil") {
                            debugger;
                            alert("Data berhasil diEdit");
                            //$('.modal').modal('hide');
                            //$.modal.close();
                            $('#idMdlEditKeahlian').close;
                            location.reload();

                        }
                        else {
                            debugger;
                            alert("Data gagal diEdit");
                        }
                    }
                });
            }
        });


        $("#idDob").datepicker({ //datepicker
            dateFormat: "yy-mm-dd"
        }).datepicker("setDate", new Date());

    });
</script>