

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GAGAL</title>
</head>
<body>
    <div>
        <h2>Nama \t: @Session["harsan"]</h2>
        <h2>Tanggal \t: @Session["2019-06-17"]</h2>
        <h2>Percobaan Gagal : @Session["2"]</h2>
    </div>
</body>
</html>